html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 95%;
    overflow: hidden;
}

#app-body {
    width: 98%;
    height: 94%;
    align-content: center;
    margin: 10px 15px 10px 15px;
    display: flex;
    text-align: center;
}

#map {
    /*position: relative;*/
    display: flex;
    margin: 10px 10px 10px 10px;
    width: 100%;
    height: 100%;
}

#right-panel {
    display: flex;
    flex-direction: column;
    margin: 0px 10px 0px 8px;
    width: 32%;
    height: 100%;
    vertical-align: top;
}

#plate-tooltip {
    position: absolute;
    display: none;
    width: 150px;
    height: 30px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    left: 0;
    top: 0;
}

#options-panel {}

#list-panel {
    max-height: 416px;
    overflow-y: scroll;
}

#radio-options {
    text-align: center;
}

.radio-visualization {
    margin: 10px 10px 10px 10px;
    border-radius: 0px;
}

.option-label {
    font-size: 1.2em;
}