html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#app-body {
    height: 100%;
    align-content: center;
    margin: 10px 15px 10px 15px;
    display: flex;
    text-align: center;
}

#app-footer {
    margin: 10px 10px 10px 10px;
}

#map {
    /*position: relative;*/
    display: flex;
    margin: 10px 10px 10px 10px;
    width: 100%;
    height: 100%;
}

#right-panel {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 10px;
    width: 34%;
    height: 100%;
    vertical-align: top;
}

#plate-tooltip {
    position: absolute;
    display: none;
    width: 150px;
    height: 30px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    left: 0;
    top: 0;
}

#options-panel-body {
    padding: 10px !important;
}

#options-panel {}

#list-panel {
    height: 100%;
}

#earthquake-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#radio-options {
    text-align: center;
}

.radio-visualization {
    margin: 10px 10px 10px 10px;
    border-radius: 0px;
}

.radio-container {
    padding: 0px !important;
}

.radio-inner-container {
    display: inline-flex;
}

.option-label {
    font-size: 1.2em !important;
}

.check-image {
    /*    font-size: 1.5em !important;*/
}