html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#loading-window {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: black;
}

#app-header {
    margin: 0px 15px 0px 15px;
}

#app-body {
    height: 100%;
    align-content: center;
    margin: 10px 15px 10px 15px;
    display: flex;
    text-align: center;
}

#app-footer {
    margin: 10px 10px 10px 10px;
}

#map {
    /*position: relative;*/
    display: flex;
    margin: 10px 10px 10px 10px;
    width: 100%;
    height: 100%;
    border: #337ab7 1px solid;
}

#right-panel {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 10px;
    width: 34%;
    height: 100%;
    vertical-align: top;
}

#plate-tooltip {
    position: absolute;
    display: none;
    width: 150px;
    height: 30px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    left: 0;
    top: 0;
}

#options-panel-body {
    padding: 10px !important;
    display: flex;
    flex-direction: column;
}

#options-panel {}

#list-panel-header {
    min-height: 40px;
    max-height: 40px;
    border-radius: 4px 4px 0 0;
}

#list-panel {
    overflow: auto;
    margin-bottom: 0px !important;
    border-radius: 0 0 4px 4px;
}

#earthquake-list-container {}

#earthquake-list {
    padding: 0;
}

#date-range-options {
    margin: 0px 0px 10px 0;
}

#magnitude-range-option {}

#radio-options {
    text-align: center;
}

#chart {
    width: 100%;
    height: 100%;
}

#map-legend {
    background: white;
    padding: 10px;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    border-radius: 2px;
    margin: 10px;
}

.option-title {
    margin: 5px;
}

.radio-visualization {
    margin: 10px 10px 10px 10px;
    border-radius: 0px;
}

.radio-container {
    padding: 0px !important;
}

.option-label {
    font-size: 1.2em !important;
}

.check-image {
    font-size: 1.5em !important;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.standard-margin-left {
    margin-left: 10px;
}

.standard-margin-right {
    margin-right: 10px;
}

.width-height-90-80 {
    width: 90%;
    height: 80%;
}

.width-height-100 {
    width: 100%;
    height: 100%;
}

.earthquake-list-item {
    display: flex;
    cursor: pointer;
}

.earthquake-list-item-selected {
    background-color: rgba(122, 163, 204, 0.3)
}

.earthquake-list-item:hover {
    background-color: rgba(122, 163, 204, 0.3)
}

.earthquake-list-item-header {
    margin-bottom: 10px;
    text-align: center;
}

.earthquake-list-item-body {
    text-align: left;
}

.map-legend {
    display: none;
}

.gmaps-marker-img {
    width: 11px;
    height: 20px;
}

.markerLayer-label {
    font-size: 1.4em;
    margin-left: 5px;
}

.circle {
    opacity: 0.9;
    border: 1px solid black;
}

.circle-2 {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #fed976;
}

.circle-4 {
    width: 18px;
    height: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    background: #feb24c;
}

.circle-6 {
    width: 26px;
    height: 26px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
    background: #fd8d3c;
}

.circle-8 {
    width: 34px;
    height: 34px;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    background: #f03b20;
}

.circle-10 {
    width: 42px;
    height: 42px;
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    border-radius: 42px;
    background: #f03b20;
}

.circle-container {
    display: flex;
    flex-direction: column-reverse;
    margin-right: 5px;
}

.circleLayer-legend-label {
    margin-right: 5px;
}

.margin-top-5 {
    margin-top: 5px;
}

.font-size-1-2-em {
    font-size: 1.2em;
}


/* HeatMap legend */

.heatMapLayer-map-legend-label {
    width: 50%;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.heatmapLayer-map-legend-scale {
    width: 34px;
    height: 15px;
}

.heatmapLayer-map-legend-scale-1 {
    background: linear-gradient(to right, #ffffb2, #fed976);
}

.heatmapLayer-map-legend-scale-2 {
    background: linear-gradient(to right, #fed976, #feb24c);
}

.heatmapLayer-map-legend-scale-3 {
    background: linear-gradient(to right, #feb24c, #fd8d3c);
}

.heatmapLayer-map-legend-scale-4 {
    background: linear-gradient(to right, #fd8d3c, #f03b20);
}

.heatmapLayer-map-legend-scale-5 {
    background: linear-gradient(to right, #f03b20, #bd0026);
}